<div class="w-screen h-screen flex">
    <div class="w-[20%]">
        <app-side-bar></app-side-bar>
    </div>
    <div class="w-[80%] h-full">
        <div class="w-full h-[10%]">
            <app-header></app-header>
        </div>
        <div class="w-full h-[90%] px-10">
            <div class="w-full h-[5%] flex items-center">
                <p class="text-sm"><span class="font-extrabold">></span> Home / <span class="font-bold">Products</span></p>
            </div>
            <div class="w-full h-[95%] pt-5">
                
            </div>
        </div>
    </div>
</div>